.form-group {
    margin-bottom: 15px;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.form-tabs {
    padding: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin-bottom: 10px;
}

.form-check-input {
    margin-left: 0;
    margin-right: 10px;
    cursor: pointer;
}

.hc-action-list-button {
    margin-right: 5px;
}

.hc-action-list-search {
    width: 200px;
    margin-right: 5px;
}

.hc-action-list {
    float: left;
}

.hc-filter-list {
    float: right;
}

.clear {
    clear: both;
}

.hc-filter-list label {
    margin: 8px;
}

.flex {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

select {
    padding-top: 6px !important;
}

.hc-list-container {
    width: 100%;
    display: table;
    margin-top: 5px;
}

.hc-list-item {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

.hc-list-item-value {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.hc-list-item-value:last-child {
    border-right: 1px solid #eee;
}

.hc-list-headers {
    text-transform: capitalize;
    font-weight: 600;
    background-color: #4598c4;
    color: white;
    margin: 0 10px 0 0;
    padding: 0;
    display: table-row;
    height: 30px;
}

.hc-list-headers .hc-list-item-value:first-child {
    border-top-left-radius: .25em;
}

.hc-list-headers .hc-list-item-value:last-child {
    border-top-right-radius: .25em;
}

#hc-header-settings {
    min-width: 40px;
}

#hc-header-settings .dropdown-menu-right .dropdown-item input {
    margin-right: 5px;
}

.hc-list-item {
    color: #333;
    margin: 0 10px 0 0;
    padding: 0;
    display: table-row;
}

.hc-list-item:nth-child(odd) {
    background-color: #e3e3e3;
}

.hc-list-item .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #e3e3e3;
}

.hc-active {
    background-color: #53707F !important;
    color: #FFF !important;
}

.hc-loader {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: cadetblue;
}

.hc-file-upload-label {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #0275d8;
    color: #FFF;
    border-radius: 4px;
}

.hc-file-upload-label input {
    display: none;
}

#hc-file-upload-thumb-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hc-form-input-image {
    width: 100px;
    height: 100px;
    background: center no-repeat;
    background-size: contain;
}

.hc-image-holder {
    margin: 7px;
    position: relative;
    background-color: aliceblue;
}

.hc-remove-resource {
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    background-color: white;
    padding: 0 7px;
    border: 1px solid;
    cursor: pointer;
}

.hc-file-upload-holder {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(27, 117, 179, 0.3);
}

.hc-file-upload-progress {
    height: 98px;
    background-color: rgba(27, 117, 179, 0.3);
    width: 0;
    position: absolute;
}

.hc-file-upload-text {
    color: #1d75b3;
    font-size: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: -25px 0 0 0;
    position: absolute;
}

.hc-form-buttons-holder {
    margin-top: 25px;
    width: auto;
    text-align: center;
}

.form-check-label {
    padding-left: 0;
    display: flex;
}

input[type=checkbox], input[type=radio]
{
    margin: 5px 5px 0 0;
}

.text-center {
    text-align: center;
}

.nav-pills > li > a
{
    border-radius: 8px;
}

.nav-pills > li > a:active, .nav-pills > li > .active {
    color: white;
    background-color: #3c8dbc;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: white;
    background-color: #204d74;
}

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#google-map {
    height: 100%;
}

#pac-card #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#google-map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
    z-index: 1000000;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.pac-container {
    z-index: 1000000;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#pac-card #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

.hc-table
{
    margin-top:20px;
    background-color: #fff;
}

.selectize-control.multi .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #333 transparent transparent;
}